/* ---------------
    Font style 
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------
Common style 
------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.influencer-journey{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 133px; */
}
.influencer{
    /* width: 582px;
    height: 270px; */
    margin-left: 120px;
}
.influencer h1{
    font-size: 52px;
    color: #3A3A3A;
}
.camera-details {
    font-size: 16px;
    margin-top: 36px;
}
.influencer-camera {
    background-image: url(images/Circle_design.svg);
}
.influencer-camera img {
    width: 440px;
    height: 414px;
}

.company-logo{
    display: flex;
    border: 3px solid;
    border-color: linear-gradient(#C0CCDA1A #C0CCDA99 #C0CCDA1A);
    width: 1110px;
    height: 80px;
}
.ali-logo{
    /* padding-right: 60px; */
}
.logos{
    margin: 60px;
}
.ali-logo img{
    width: 55px;
    height: 31px;
}
.ama-logo img{
    width: 84px;
    height: 25.28px;
}
.dara-logo img{
    width: 84px;
    height: 26px;
}
.eba-logo img{
    width: 99.12px;
    height: 39.61px;
}
.rak-logo img{
    width: 97.09px;
    height: 28px;
}
.tar-logo img{
    width: 111px;
    height: 26px;
}
.wal-logo img{
    width: 91px;
    height: 38px;
}
.logo-icon {
    /* margin-left: 60px; */
}