/* ---------------
    Font style 
------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ---------------
Common style 
------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
.influencer-journey{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 133px; */
}
.influencer{
    /* width: 582px;
    height: 270px; */
    margin-left: 120px;
}
.influencer h1{
    font-size: 52px;
    color: #3A3A3A;
}
.camera-details {
    font-size: 16px;
    margin-top: 36px;
}
.influencer-camera {
    background-image: url(images/Circle_design.svg);
}
.influencer-camera img {
    width: 440px;
    height: 414px;
}

.company-logo{
    display: flex;
    border: 3px solid;
    border-color: linear-gradient(#C0CCDA1A #C0CCDA99 #C0CCDA1A);
    width: 1015px;
    height: 80px;
}
.logo{
    margin-left: 165px;
    margin-top: 130px;
}
.ali-logo{
    /* padding-right: 60px; */
}
.logos{
    margin-top: 35px;
    margin-bottom: 35px;
    /* margin-left: 60px; */
    margin-right: 60px;
}
.ali-logo img{
    width: 55px;
    height: 31px;
}
.ama-logo img{
    width: 84px;
    height: 25.28px;
}
.dara-logo img{
    width: 84px;
    height: 26px;
}
.eba-logo img{
    width: 99.12px;
    height: 39.61px;
}
.rak-logo img{
    width: 97.09px;
    height: 28px;
}
.tar-logo img{
    width: 111px;
    height: 26px;
}
.wal-logo img{
    width: 91px;
    height: 38px;
}
.logo-icon {
    /* margin-left: 60px; */
}

/* -------------------------------
Popular Collection 
----------------------------------*/

.popular-collection{
    margin: 100px;
}
.popular{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: rgba(224, 224, 224, 0.993) ;
}
.popular-title{
    width: 329px;
    height: 550px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
h2{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}
.popular-info p{
    font-size: 24px;
    color: #000000DE;
}
.fa-star{
    width: 11.07px;
    height: 10.32px;
    color: orange;
}
.fa-star-half{
    width: 11.07px;
    height: 10.32px;
    color: orange;
}
.title{
    font-size: 28px;
}
.rating p{
    font-size: 14px;
    color: #787885;
}
.popular-photo img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.popular-photo{
    padding-left: 14px;
    padding-top: 17px;
}
.popular-details{
    padding-left: 14px;
}